{% extends 'base.html' %}
{% block titulo %}Mi cuenta{% endblock %}
{% block contenido %}
<div class="tarjeta">
    <h1>Mi cuenta</h1>
    <form method="post">
        {% csrf_token %}
        {% for campo in form %}
        <p>
            <label>{{ campo.label }}</label>
            {{ campo }}
            {% if campo.help_text %}<div class="ayuda-campo">{{ campo.help_text }}</div>{% endif %}
            {{ campo.errors }}
        </p>
        {% endfor %}
        <button class="boton" type="submit">Guardar cambios</button>
    </form>
</div>
{% endblock %}
